<h1>
  {{title}}
</h1>
<div (click) = "downloadExcel()">
  <a href="#">Export Excel</a>
</div>
<div (click) = "importExcel()">
  <a href="#">Import Excel</a>
</div>
<h3 class="first">Basic Datatable</h3>
<p-dataTable [value]="cars">
  <p-column field="vin" header="Vin"></p-column>
  <p-column field="year" header="Year"></p-column>
  <p-column field="brand" header="Brand"></p-column>
  <p-column field="color" header="Color"></p-column>
</p-dataTable>


<p-fileUpload name="demo[]" url="http://localhost:9999/api/upload" (onUpload)="onUpload($event)"
              accept="*" maxFileSize="1000000">
  <template pTemplate type="content">
    <ul *ngIf="uploadedFiles.length">
      <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
    </ul>
  </template>
</p-fileUpload>
